html {
    background: #293241;
    font-size: 14px !important;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 1rem 0
}

header,
footer,
section,
nav,
main {
    /* outline: 1px dashed #ee6c4d; */
}

main {
    padding-bottom: 3rem;
    min-height: 80vh;
}

hr {
    opacity: 0.2;
}

section {
    padding: 6rem 0;
    /* margin-bottom: 2rem; */
}

main>div {
    /* padding-top: 5rem !important; */
}

header {
    padding: 1rem 2rem;
    border-radius: 0rem;
}

header .MuiContainer-root {
    /* outline-color: white; */
}

nav a {
    color: initial;
    padding: 0 1rem 0 0;
}

.MuiContainer-root {
    /* outline: 1px dashed rgba(36, 36, 36, 0.406); */
    /* padding: 1rem 2rem; */
    height: 100%;
    /* background: rgba(137, 136, 136, 0.04); */
}

.MuiButton-root {
    /* border-radius: 100px; */
}

@media screen and (min-width: 800px) {
    .MuiContainer-root {
        /* padding: 1rem 4rem; */
    }
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* padding: 0 1rem 0 0; */
    display: inline-block;
}

p a {
    padding: unset;
}

a:hover {
    text-decoration: underline;
}

h1 {
    /* color: sandybrown; */
}

h2 {
    /* color: salmon; */
}

/* strong {
    color: #a2ff00;
} */

p {
    max-width: 666px;
}

.app-nav-button:hover>* {
    /* color: lime; */
}

.dev {
    color: #ee6c4d;
    outline: 1px solid #ee6c4d;
    padding: 1rem;
    background: #ee6d4d19;
    border-radius: 0.15rem;
}

.dev.alt {
    color: #fdfffc;
    outline: 1px solid #fdfffc;
}

* {
    border-radius: 0.15rem;
}

.btn {
    text-transform: unset !important;
}